@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.page1 { 
    font-family: "Passion One", sans-serif;
}
.page2 {
    font-family: "Passion One", sans-serif;
}
.page3 {
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position: center;
}
.page4 {
    font-family: "Playwrite GB S", cursive;
}
.page5 {
    font-family: "Playwrite GB S", cursive;
    background-color: #FFD3D3;
}
.page6 {
    font-family: "Passion One", sans-serif;
    background-color: #FFF2F2;
}
.page7 {
    font-family: "Anton", sans-serif;
    background-color: #FFD3D3;
}
.container {
    text-align: center;
    position: relative;
}
.background {
    background-repeat: no-repeat;
    background-position: center;
}

.button1 {
    text-decoration: none;
    display: inline-flex;
    background-color: #FFEEEE;
    color: black;
    padding: 0.5rem 1rem;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 3px solid black;
    font-family: 'Times New Roman', Times, serif;
}
.button2 {
    text-decoration: none;
    display: inline-flex;
    font-size: 20px;
    border: none;
    color: black;
    cursor: pointer;
    border-bottom: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
}
.back {
    width: 20px;
}
    